.Pagination {
  display: flex;
  flex-direction: row;
}

.Pagination > div {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
}

.Pagination > div:not(:last-child) {
  margin-right: 1rem;
}
