.SingleBeer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem;
  color: darkgrey;
  background-color: white;
}

.Image {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.Title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0096c3;
  text-transform: uppercase;
}

.Abv {
  font-weight: bold;
  font-size: 0.8rem;
  color: #0096c3;
}

.Description {
  font-size: 0.8rem;
  padding: 1rem;
  max-height: 7rem;
  font-style: italic;
}

.Top {
  margin-bottom: 1rem;
}
